Repository amosproj/amos2021ws01-geo-data-search, pull requests merged in 2021-12, with the labels that each got.

#119 Frontend: show map
  src/frontend/components/ErrorMessage.tsx
  src/frontend/components/MapView.tsx
  src/frontend/components/SearchLayout.tsx
  src/frontend/package.json
  src/frontend/tailwind.config.js
  src/frontend/yarn.lock
Labels: Frontend

#120 Request places from api
  src/backend/src/main/java/com/example/backend/clients/ApiClient.java
  src/backend/src/main/java/com/example/backend/controllers/ApiController.java
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/data/ApiResult.java
  src/backend/src/main/java/com/example/backend/data/api/HereApiGeocodeResponse.java
  src/backend/src/main/java/com/example/backend/data/api/NodeInfo.java
  src/backend/src/main/java/com/example/backend/data/api/NodeTag.java
  src/backend/src/main/java/com/example/backend/data/api/OSMQuery.java
  src/backend/src/main/java/com/example/backend/data/api/OSMSearchResult.java
  src/backend/src/main/java/com/example/backend/data/http/ResultResponse.java
Labels: Backend

#142 Frontend: add a way to cancel a running search request and clear current search term
  src/frontend/components/SearchInput.tsx
  src/frontend/components/SearchLayout.tsx
  src/frontend/components/SearchView.tsx
  src/frontend/lib/api-client.ts
Labels: Frontend

#148 #131 #132 api decision flow and result forwarding to Frontend
  src/backend/src/main/java/com/example/backend/clients/OsmApiClient.java
  src/backend/src/main/java/com/example/backend/controllers/ApiController.java
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/data/api/HereApiGeocodeResponse.java
  src/backend/src/main/java/com/example/backend/data/here/Item.java
  src/backend/src/main/java/com/example/backend/helpers/ApiSelectionHelper.java
Labels: Backend

#149 Frontend: add map markers (with auto recalculation of map position), update result list design
  src/frontend/assets/svg/marker.svg
  src/frontend/components/MapView.tsx
  src/frontend/components/SearchListResult.tsx
  src/frontend/components/SearchView.tsx
  src/frontend/components/markerIcon.ts
  src/frontend/lib/config.ts
  src/frontend/lib/store.ts
  src/frontend/lib/types/search.ts
  src/frontend/next.config.js
  src/frontend/package.json
  src/frontend/public/images/map-marker.svg
  src/frontend/tsconfig.json
  src/frontend/yarn.lock
Labels: Frontend

#162 Nlp/#156 unit synonyms
  src/nlp/src/api/helper_service.py
  src/nlp/src/api/string_interpreter.py
  src/nlp/src/api/synonyms.py
  src/nlp/src/api/utils.py
  src/nlp/src/models/data/chatette-slots/aliases.chatette
  src/nlp/tests/api/test_string_interpreter.py
Labels: NLP

#165 Feature/#112 write tests for query objects
  src/nlp/tests/api/test_string_interpreter.py
Labels: NLP

#164 Frontend: make markers and list results clickable and make the UI responsive
  src/frontend/components/MapView.tsx
  src/frontend/components/SearchInput.tsx
  src/frontend/components/SearchLayout.tsx
  src/frontend/components/SearchListResult.tsx
  src/frontend/components/SearchResultDetail.tsx
  src/frontend/components/SearchResults.tsx
  src/frontend/components/SearchView.tsx
  src/frontend/components/markerIcon.ts
  src/frontend/lib/search.ts
  src/frontend/lib/store.ts
  src/frontend/lib/useMediaQuery.ts
  src/frontend/package.json
  src/frontend/yarn.lock
Labels: Frontend

#158 Api decision tree added
  src/backend/src/main/java/com/example/backend/controllers/ApiController.java
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/data/ApiResult.java
  src/backend/src/main/java/com/example/backend/data/api/NodeInfo.java
  src/backend/src/main/java/com/example/backend/data/api/OSMQuery.java
  src/backend/src/main/java/com/example/backend/data/here/Item.java
  src/backend/src/main/java/com/example/backend/helpers/ApiSelectionHelper.java
Labels: Backend
