Repository amosproj/amos2021ws01-geo-data-search, pull requests merged in 2022-02, with the labels that each got.

#250 #235-#236 : KML generator for Elevation and Route
  src/backend/pom.xml
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/data/kml/KML.java
  src/backend/src/main/java/com/example/backend/data/kml/KMLPlaceMark.java
  src/backend/src/main/java/com/example/backend/data/kml/KMLRoute.java
  src/backend/src/main/java/com/example/backend/data/kml/PlaceMark.java
  src/backend/src/main/java/com/example/backend/data/kml/PolylineEncoderDecoder.java
Labels: Backend

#254 Frontend: add dark mode toggle, improve accessibility, fix bugs
  src/frontend/components/DarkModeToggle.tsx
  src/frontend/components/Logo.tsx
  src/frontend/components/Modal.tsx
  src/frontend/components/SearchInput.tsx
  src/frontend/components/SearchLayout.tsx
  src/frontend/components/SearchResultDetail.tsx
  src/frontend/components/SearchResults.tsx
  src/frontend/components/SearchTips.tsx
  src/frontend/components/SearchView.tsx
  src/frontend/components/ThemeProvider.tsx
  src/frontend/lib/config.ts
  src/frontend/pages/_app.tsx
  src/frontend/pages/_document.tsx
  src/frontend/tailwind.config.js
Labels: Frontend

#256 fixed: KML is uncompleted when route includes charging stations
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/data/kml/KMLRoute.java
Labels: bug, Backend

#255 Nlp/bugfix/#242
  README.md
  src/nlp/README.md
  src/nlp/src/api/main.py
  src/nlp/src/api/query.py
  src/nlp/src/api/string_interpreter.py
  src/nlp/src/api/utils.py
  src/nlp/src/main.py
  src/nlp/src/models/data/training_data.py
  src/nlp/src/models/test.py
  src/nlp/src/models/train_model.py
  src/nlp/tests/api/test_string_interpreter.py
Labels: NLP

#260 #181 model performance new
  src/nlp/src/visualization/#181-model-performance/code used/chatette-test-01-181.chatette
  src/nlp/src/visualization/#181-model-performance/code used/train_model-181.py
  src/nlp/src/visualization/#181-model-performance/model_evaluations-with-region.csv
  src/nlp/src/visualization/#181-model-performance/model_evaluations-with-region.xlsx
  src/nlp/src/visualization/#181-model-performance/precision-f1.png
Labels: NLP
