Repository amosproj/amos2021ws01-geo-data-search, pull requests merged in 2022-01, with the labels that each got.

#187 Nlp/#177 logfile
  src/nlp/src/api/main.py
  src/nlp/src/api/string_interpreter.py
  src/nlp/src/api/utils.py
  src/nlp/src/main.py
Labels: NLP

#199 Backend/refactoring
  src/backend/src/main/java/com/example/backend/controllers/ApiController.java
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/controllers/HereApiRestService.java
  src/backend/src/main/java/com/example/backend/data/here/HereRoutingAttributes.java
  src/backend/src/main/java/com/example/backend/data/here/RoutingWaypoint.java
  src/backend/src/main/java/com/example/backend/data/here/Section.java
  src/backend/src/main/java/com/example/backend/data/http/NlpQueryResponse.java
  src/backend/src/main/java/com/example/backend/data/http/ResultResponse.java
  src/backend/src/main/java/com/example/backend/data/nlp/RouteAttributes.java
  src/backend/src/main/java/com/example/backend/helpers/ApiSelectionHelper.java
  src/backend/src/main/java/com/example/backend/helpers/LocationNotFoundException.java
  src/backend/src/main/java/com/example/backend/helpers/MissingLocationException.java
  src/backend/src/main/java/com/example/backend/helpers/NoPrefferedApiFoundException.java
  src/backend/src/main/java/com/example/backend/helpers/UnknownQueryObjectException.java
  src/nlp/src/api/helper_service.py
  src/nlp/src/api/string_interpreter.py
  src/nlp/src/models/data/chatette-slots/aliases.chatette
  src/nlp/tests/api/test_string_interpreter.py
Labels: Backend

#201 Frontend: add search hint with possible search queries
  src/frontend/components/SearchInput.tsx
  src/frontend/components/SearchTips.tsx
  src/frontend/components/SearchView.tsx
  src/frontend/lib/config.ts
  src/frontend/lib/useInterval.ts
  src/frontend/pages/_document.tsx
  src/frontend/tailwind.config.js
Labels: Frontend

#205 BUGFIX: send lengths in m in NLP
  src/nlp/src/api/helper_service.py
  src/nlp/src/api/string_interpreter.py
  src/nlp/src/api/utils.py
  src/nlp/tests/api/test_string_interpreter.py
Labels: bug, Real Size = 2, NLP

#204 First working algorithm to retrieve a minimal/maximal route length
  src/backend/src/main/java/com/example/backend/controllers/ApiController.java
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/controllers/HereApiRestService.java
  src/backend/src/main/java/com/example/backend/data/here/HereRoutingAttributes.java
  src/backend/src/main/java/com/example/backend/data/here/RouteAttributesCalculator.java
  src/backend/src/main/java/com/example/backend/data/here/RoutingWaypoint.java
  src/backend/src/main/java/com/example/backend/helpers/InvalidCalculationRequest.java
Labels: Backend

#214 Removed if(false){ logger.info() } and replaced with logger.debug()
  src/backend/src/main/java/com/example/backend/controllers/FrontendController.java
  src/backend/src/main/java/com/example/backend/controllers/HereApiRestService.java
Labels: Backend

#220 Frontend: show routes on map
  src/frontend/assets/svg/marker-route.svg
  src/frontend/components/MapView.tsx
  src/frontend/components/SearchListResult.tsx
  src/frontend/components/SearchResults.tsx
  src/frontend/components/SearchView.tsx
  src/frontend/components/markerIcon.ts
  src/frontend/lib/types/search.ts
  src/frontend/package.json
  src/frontend/public/images/marker-route.svg
  src/frontend/styles/globals.css
  src/frontend/yarn.lock
Labels: Frontend

#219 Bug fixed: not mixing up lat/lng, fixed missing polyline
  src/backend/src/main/java/com/example/backend/controllers/HereApiRestService.java
  src/backend/src/main/java/com/example/backend/data/here/Place.java
  src/backend/src/main/java/com/example/backend/data/here/Route.java
  src/backend/src/main/java/com/example/backend/data/http/ResultResponse.java
Labels: Backend

#217 Bug fixed: We only log, when the route list is NOT empty
  src/backend/src/main/java/com/example/backend/data/here/RouteAttributesCalculator.java
Labels: Backend

#222 Nlp/bugfix/#209 remove questionmark from location
  src/nlp/src/api/string_interpreter.py
  src/nlp/tests/api/test_string_interpreter.py
Labels: NLP

#225 Backend/#224 elevation height restrictions
  src/backend/src/main/java/com/example/backend/controllers/ApiController.java
  src/backend/src/main/java/com/example/backend/data/api/OSMQuery.java
Labels: Backend

#230 Backend/provider to frontend
  src/backend/src/main/java/com/example/backend/controllers/HereApiRestService.java
  src/backend/src/main/java/com/example/backend/data/ApiResult.java
  src/backend/src/main/java/com/example/backend/data/api/NodeInfo.java
  src/backend/src/main/java/com/example/backend/data/here/Item.java
  src/backend/src/main/java/com/example/backend/data/http/ResultResponse.java
Labels: Backend

#231 HotFix
  src/backend/src/main/java/com/example/backend/data/here/Item.java
Labels: Backend
